.fg-9 {font-size:9px!important;}
.fg-10 {font-size:10px!important;}
.fg-11 {font-size:11px!important;}
.fg-12 {font-size:12px!important;}
.fg-13 {font-size:13px!important;}
.fg-14 {font-size:14px!important;}
.fg-15 {font-size:15px!important;}
.fg-16 {font-size:16px!important;}
.fg-17 {font-size:17px!important;}
.fg-18 {font-size:18px!important;}
.fg-19 {font-size:19px!important;}
.fg-20 {font-size:20px!important;}
.fg-21 {font-size:21px!important;}
.fg-22 {font-size:22px!important;}
.fg-23 {font-size:23px!important;}
.fg-24 {font-size:24px!important;}
.fg-25 {font-size:25px!important;}

.shadow {
	box-shadow:0px 0px 5px 1px grey !important;
	border:solid 1px #333333 !important;
}

.z5 {
	z-index:5 !important;
}

.z10 {
	z-index:10 !important;
}

.p20  {
	padding:20px !important;
}

.roundedges {
	border-radius:4px;
}

.norepeat {
	background-repeat: no-repeat !important;
	background-size:cover !important;
}

.b-r {
	border-right:solid 1px #cecece;
}

.kafont_kanice {
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif !important;
}

.cTabs-tr [cfunc="tab"] {
	display:none;
}

.bg-transparent {
border:hidden !important;
background-color:transparent !important;
box-shadow:0 0 0 0 !important;
background-image:none !important;
}

.nobackground, .nobackground tr, .nobackground td {
	background-color:transparent !important;
}

.a:hover {
	text-decoration:none;
}

.ctable {
	display:table;
}

.ctablerow {
	display:table-row;
}

.link, .cursor, .picuploadbutton:hover {
cursor:pointer;
}

.disable_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-deco:hover{
text-decoration:none !important;
}

.decorate {
color:grey;
}

.decorate:hover {
text-decoration:underline;
}

.small {
font-size:11px;font-style:italic;
}

.center {
	text-align:center !important;
}

.left {
text-align:left;
}

.hide {
display:none;
}

.strong{
font-weight:bold !important;
}

.height10 { max-height:100%; height:100%; }

.width-small { max-width:5%;width:5%; } .width1 { max-width:10%;width:10%; } .width2 { max-width:20%;width:20%; } .width3 { max-width:30%;width:30%; } .width4 { max-width:40%;width:40%; } .width5 { max-width:50%;width:50%; }
.width6 { max-width:60%;width:60%; } .width7 { max-width:70%;width:70%; } .width8 { max-width:80%;width:80%; } .width9 { max-width:90%;width:90%; } .width10 { max-width:100% !important;width:100%!important; }


input:focus,select:focus,textarea:focus,button:focus {
outline: none;
}


.va-top {
	vertical-align:top !important;
}

.va {
	vertical-align:middle;
}

.h1 { font-size:12px; }  .h2 { font-size:14px; }  .h3 { font-size:16px; }  .h4 { font-size:18px; }  .h5 { font-size:25px; }  .h6 { font-size:32px; }

.invisibleinput {
border:hidden;
background-color:transparent;
padding:0px;
margin:0px;
box-shadow:0 0 0 0 ;
}

.space{
margin-top:5px !important;
margin-bottom:5px !important;
margin-left:5px;
margin-right:5px;
}

.space-x {
margin-left:5px;
margin-right:5px;
}

.space-y {
margin-top:5px;
margin-bottom:5px;
}

.ct {
margin-left:auto !important;
margin-right:auto !important;
}


.b-grey-top {
border-top:solid 1px #e8e5e5;
}

.b-grey-bottom {
border-bottom:solid 1px #e8e5e5;
}

.b {
border:solid 1px black !important;
}

.i {
font-style:italic;
}

.u {
border-bottom:solid 1px;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}
